@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        </div>
    </div>
</body>


<script>

    layui.use(['jquery', 'form', 'table', 'common', 'commonTable'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            commonTable = layui.commonTable,
            common = layui.common;
        //权限控制(js是值传递)
        wcLoading.close();
        var keyValue = $.request("keyValue");
        if (keyValue == "null") {
            keyValue = "";
        }
        commonTable.rendertable({
            elem: '#currentTableId',
            id: 'currentTableId',
            url: '/VehicleManage/excavator/GetWJJFormJson?keyValue=' + keyValue,
            filter: {
                clearFilter: false,
            },
            cols: [[
                { field: 'wjj', title: '编号', width: 80, },
                {
                    field: 'lead_switch_on', title: '先导', width: 50, templet: function (d) {
                        if (d.lead_switch_on == "0") {
                            return '<span style="color: green">' + "关" + '</span>';
                        }
                        else {
                            return '<span style="color: blue">' + "开" + '</span>';
                        }

                    }
                },
                { field: 'rpm', title: '转速', width: 50, },
                { field: 'gear', title: '档位', width: 50, },

                {
                    field: 'rpy_yaw', title: 'RPY', width: 100, templet: function (d) {
                        return d.rpy_roll + "°" + "，" + d.rpy_pitch + "°" + "，" + d.rpy_yaw + "°";
                    }
                },
                //{
                //    field: 'rpy_roll', title: '横滚角度', width: 70, templet: function (d) {
                //        return d.rpy_roll + "°";
                //    }
                //},
                //{
                //    field: 'rpy_pitch', title: '俯仰角度', minWidth: 70, templet: function (d) {
                //        return d.rpy_pitch + "°";
                //    }
                //},
                {
                    field: 'oil_pressure', title: '油压', width: 70, templet: function (d) {
                        if (d.oil_pressure != "" && Number(d.oil_pressure) < 48) {
                            return '<span style="color: red">' + d.oil_pressure + "Kpa" + '</span>';
                        }
                        else {
                            return '<span style="color: green">' + d.oil_pressure + "Kpa" + '</span>';
                        }
                        
                    }
                },
                {
                    field: 'oil_position', title: '油位', width: 50, templet: function (d) {
                        if (d.oil_position != "" && Number(d.oil_position) < 2) {
                            return '<span style="color: red">' + d.oil_position + "%" + '</span>';
                        }
                        else {
                            return '<span style="color: green">' + d.oil_position + "%" + '</span>';
                        }
                       
                    }
                },
                {
                    field: 'oil_temperature', title: '油温', width: 50, templet: function (d) {
                        if (d.oil_pressure_alarm == "1") {
                            return '<span style="color: red">' + d.oil_temperature + "℃" + '</span>';
                        }
                        else {
                            return '<span style="color: green">' + d.water_temperature + "℃" + '</span>';
                        }
                        
                    }
                },
                
                {
                    field: 'water_temperature', title: '水温', width: 50, templet: function (d) {
                        if (d.water_temperature_alarm == "1") {
                            return '<span style="color: red">' + d.water_temperature + "℃" + '</span>';
                        }
                        else {
                            return '<span style="color: green">' + d.oil_temperature + "℃" + '</span>';
                        }
                        
                    }
                },
                //{
                //    field: 'water_temperature_alarm', title: '水温报警', width: 70, templet: function (d) {
                        
                //        if (d.water_temperature_alarm == "0") {
                //            return '<span style="color: red">'+ d.water_temperature_alarm + '</span>';
                //        }
                //        else {
                //            return d.water_temperature_alarm;
                //        }
                //    }
                //},
                //{ field: 'oil_pressure_alarm', title: '油压报警', width: 70, },
                { field: 'oil_filter_blocked', title: '油滤报警', width: 70, },
                { field: 'air_filter_blocked', title: '空滤报警', width: 70, },
                {
                    field: 'high_speed_mode', title: '高速模式', width: 70, templet: function (d) {
                        if (d.high_speed_mode == "0") {
                            return "否";
                        }
                        else {
                            return "是";
                        }

                    }
                },
                
                { field: 'F_CreatorTime', title: '创建时间', width: 150, },

            ]]
        });
        form.render();

    });

</script>

