@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset layui-hide" id="searchField">
            <div>
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button id="NF-add" name="NF-add" authorize class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button>
                <button id="NF-edit" name="NF-edit" authorize class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                <button id="NF-delete" name="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                <button id="NFmodifydevice" name="NFmodifydevice" class="layui-btn layui-btn-sm layui-btn-normal data-info-btn" lay-event="modifydevice"> <i class="layui-icon">&#xe60b;</i>修改设备</button>
                <button id="NF-enabled" name="NF-enabled" class="layui-btn layui-btn-sm data-enabled-btn" lay-event="enabled"> <i class="fa fa-play-circle"></i>重启设备</button>
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a id="NF-edit" authorize class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
            <a id="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
          
        </script>
    </div>
</div>

<script>
    layui.use(['jquery', 'form', 'table', 'common', 'commonTable'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            commonTable = layui.commonTable,
            common = layui.common;
        //权限控制(js是值传递)
       
        currentTableBar.innerHTML = common.authorizeButtonNew(currentTableBar.innerHTML);
        toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
        wcLoading.close();
        commonTable.rendertable({
            elem: '#currentTableId',
            id: 'currentTableId',
            url: '/VehicleManage/cockpit/GetGridJson',
            filter: {
                clearFilter: false,
            },
            cols: [[
                { type: "checkbox", width: 50 },
                { field: 'DeviceNo', title: '驾驶舱编号', sort: true, width: 120, filter: true },
                {
                    title: '驾驶舱名称', width: 120, sort: true, filter: true,
                    templet: function (d) {
                        return top.clients.dataItems["jscbh"][d.DeviceNo] == undefined ? "" : top.clients.dataItems["jscbh"][d.DeviceNo];
                    }
                },
                //{ field: 'DeviceNo', title: '驾驶舱编号', sort: true,  width: 120, filter: true },
                //{ field: 'DeviceName', title: '驾驶舱名称', sort: true,  width: 160, filter: true },
                { field: 'Brand', title: '驾驶舱品牌', width: 120, filter: true },
                { field: 'model', title: '驾驶舱型号', minWidth: 120, filter: true },
                /*{ field: 'Networkmode', title: '网络模式', minWidth: 80, filter: true },*/
                {
                    field: 'Networkmode', title: '网络模式', width: 120, sort: true, filter: true,
                    templet: function (d) {
                        return top.clients.dataItems["Networkmode"][d.Networkmode] == undefined ? "" : top.clients.dataItems["Networkmode"][d.Networkmode];
                    }
                },
                //{ field: 'devicelength', title: '长', width: 80, filter: true },
                //{ field: 'devicewide', title: '宽', width: 80, filter: true },
                //{ field: 'devicehigh', title: '高', width: 80, filter: true },
                
                {
                    field: 'F_CreatorTime', title: '创建时间', width: 160, filter: { type: 'date[yyyy-MM-dd HH:mm:ss]' },
                    templet: function (d) {
                        if (d.F_CreatorTime) {
                            var time = new Date(d.F_CreatorTime);
                            return time.Format("yyyy-MM-dd hh:mm:ss");
                        }
                        return '';
                    }
                },
                { field: 'F_CreatorUserId', title: '创建人', width: 120, filter: true, hide: true },
                { title: '操作', width: 170, toolbar: '#currentTableBar', align: "center" }
            ]]
        });
        $(function () {
            initControl();
            form.render();
        });
        function initControl() {
            //绑定数据源
            //类型为下拉框时

        }
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            commonTable.reloadtable({
                elem: 'currentTableId',
                curr: 1,
                where: { keyword: data.field.txt_keyword }
            });
            return false;
        });
        //行点击事件监听，控制按钮显示
        var oneList = ["NF-edit", "NF-details"];//选择1条显示
        var morerList = ["NF-delete"];//选中1条以上显示
        commonTable.tableRowClick("checkbox", "currentTableFilter", "currentTableId", oneList, morerList);
        //toolbar监听事件
        var test = 0;
        table.on('toolbar(currentTableFilter)', function (obj) {
            var data = table.checkStatus('currentTableId').data;
            var id = data.length > 0 ? data[0].F_Id : null;
            if (obj.event === 'add') {  // 监听删除操作
                common.modalOpen({
                    title: "添加驾驶舱",
                    url: "/VehicleManage/cockpit/Form",
                    width: "1000px",
                    height: "600px",
                });
            }
            else if (obj.event === 'delete') {
                if (data.length == 0) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                var ids = [];
                for (var i = 0; i < data.length; i++) {
                    ids.push(data[i].F_Id);
                }
                common.deleteForm({
                    url: "/VehicleManage/cockpit/DeleteForm",
                    param: { keyValue: ids.join(',') },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'edit') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                debugger
                common.modalOpen({
                    title: "编辑驾驶舱",
                    url: "/VehicleManage/cockpit/Form?keyValue=" + id,
                    width: "1000px",
                    height: "600px",
                });
            }
            else if (obj.event === 'details') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "查看驾驶舱",
                    url: "/VehicleManage/cockpit/Details?keyValue=" + id,
                    width: "1000px",
                    height: "600px",
                    btn: []
                });
            }
            else if (obj.event === 'import') {
                common.modalOpen({
                    title: "导入界面",
                    url: "/VehicleManage/cockpit/Import",
                    width: "650px",
                    height: "600px",
                });
            }
            else if (obj.event === 'export') {
                window.open('/VehicleManage/cockpit/Export?keyword=' + $('#txt_keyword').val());
            }
            else if (obj.event === 'TABLE_SEARCH') {
                var _that = $("#searchField");
                if (_that.hasClass("layui-hide")) {
                    _that.removeClass('layui-hide');
                } else {
                    _that.addClass('layui-hide');
                }
            }
            else if (obj.event === 'enabled') {
                if (data.length == 0) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                
                if (test > 0) {
                    common.modalMsg("设备正在启动中，请稍等！", "warning");
                    return false;
                }
                test++;
                common.modalConfirm("注：您确定要【重启】该设备吗？", function (r) {

                    if (r) {
                        common.submitForm({
                            url: "/VehicleManage/cockpit/Restart",
                            param: { keyValue: data[0].F_Id, status: 1 },
                            close: false,
                            success: function () {
                                test = 0;
                                common.reload('data-search-btn');
                            }
                        })
                    }
                });
            }
            else if (obj.event === 'modifydevice') {
                if (data.length == 0) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                var parentform = window.name;
                common.modalOpen({
                    title: "设备明细",
                    url: "/VehicleManage/monitor/AddFormD?ids=" + data[0].F_Id,
                    width: "800px",
                    height: "600px",
                });
            }

            return false;
        });
        //toolrow监听事件
        table.on('tool(currentTableFilter)', function (obj) {
            var id = obj.data.F_Id;
            if (obj.event === 'delete') {
                common.deleteForm({
                    url: "/VehicleManage/cockpit/DeleteForm",
                    param: { keyValue: id },
                    success: function () {
                        obj.del();
                    }
                });
            }
            else if (obj.event === 'edit') {
                common.modalOpen({
                    title: "编辑驾驶舱",
                    url: "/VehicleManage/cockpit/Form?keyValue=" + id,
                    width: "1000px",
                    height: "600px",
                });
            }
            else if (obj.event === 'details') {
                common.modalOpen({
                    title: "查看驾驶舱",
                    url: "/VehicleManage/cockpit/Details?keyValue=" + id,
                    width: "1000px",
                    height: "600px",
                    btn: []
                });
            }
            return false;
        });
    });

</script>
