@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'treeTable', 'optimizeSelectOption', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            treeTable = layui.treeTable,
            common = layui.common;
        //加载数据
        wcLoading.close();
       
        form.render();

        var ids = $.request("ids");
        var rendertree = common.rendertreetable({
            elem: '#currentTableId',
            url: '/VehicleManage/Monitor/GetFormGridJsonD?keyword=' + ids,
            //data: top.clients.dataItems["sbbh"],
            height: 'full-60',
            toolbar: false,//工具栏
            search: false,
            id: 'currentTableId',
          
            cols: [[

                {
                    field: 'devicetype', title: '所属控制器', width: 200, sort: true, filter: true,
                    templet: function (d) {
                        return top.clients.dataItems["sbbh"][d.DeviceNo] == undefined ? "" : top.clients.dataItems["sbbh"][d.DeviceNo];
                    }
                },
                { field: 'devicetype', title: '设备编号', width: 120 },
                {
                    field: 'devicetype', title: '设备类型', width: 120, sort: true, filter: true,
                    templet: function (d) {
                        return top.clients.dataItems["DevType"][d.devicetype] == undefined ? "" : top.clients.dataItems["DevType"][d.devicetype];
                    }
                },
                { field: 'IPAddress', title: 'IP地址(WIFI)', width: 120 },
                { field: 'IPAddress2', title: 'IP地址(端口映射)', width: 150 },

            ]],
            done: function () {
                rendertree.expandAll();
                //if (!!ids) {
                //    rendertree.setChecked(ids.split(','));
                //}
            }
        });

        $(function () {

            initControl();
            
            form.render();
        });
        function initControl() {
           
            $("#Networkmode").bindSelect({
                data: top.clients.dataItems['Networkmode'],
                id: "",
            });

        }
        
        // 监听提交操作
        form.on('submit(saveBtn)', function () {
            
            var keyValueids = $.request("ids");
            var network = $("#Networkmode").val();
            if (network == "" || network == undefined) {
                layer.msg("请先选择网络模式！", { icon: 5 }); //提示
                return false;
            }
            debugger
            var url = "/VehicleManage/cockpit/SubmitForm3?keyValue=" + keyValueids + "&network=" + network;
            var index = parent.layer.load(0, {
                shade: [0.5, '#000'], //0.1透明度的背景
            });
            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                dataType: 'json',
                success: function (data) {
                  
                    alert(data.message);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    
                }
            });
            parent.layer.close(index);
            return false;    
            //common.submitForm({
            //    url: "/VehicleManage/cockpit/SubmitForm3?keyValue=" + ids,
            //    success: function () {
            //        //common.parentreload('data-search-btn');
            //    }
            //})

        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">

            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form layuimini-form" lay-filter="adminform">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">网络模式</label>
                                <div class="layui-input-inline">
                                    <select id="Networkmode" name="Networkmode" lay-filter="Networkmode" lay-search>
                                        <option value="">请选择</option>
                                    </select>

                                </div>
                            </div>
                            
                        </div>
                        <div class="layui-form-item layui-hide">
                            <button class="layui-btn" lay-submit id="submit" lay-filter="saveBtn">确认修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>